.myheadr{margin: 2% 0% 0% 0%;}
.mywrap{margin: 0% 2% 0% 2%;}
.myfotr{margin: 0% 0% 0% 20%;}
.blok1,.blok2,.blok3,.blok4,.blok5,.blok6,.blok7,.blok8{background-color: #ff8eae;}
.blok1,.blok2,.blok3,.blok4,.blok5,.blok6,.blok7,.blok8{padding:2px;border:1px solid #46000b;}
#minutes{font-size:24px; color:darkred;}
#seconds{font-size:24px;color:green;}
